@model IEnumerable<ProfessorManagement.Models.Professor_Subject>;
@{
    ViewData["Title"] = "List of assignments";
}

<p>
    <a asp-action="Assignments">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.professor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subject.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subject.Area)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
